.container {
    display: flex;
    height: 100vh;
}

/* ========================= */
/* Sidebar */
/* ========================= */

.sidebar {
    width: 260px;
    height: 100vh;
    background: #1e293b;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 25px 0;
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.12);
}

/* Logo */

.sidebar h2 {
    padding: 0 25px 20px;
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

/* Menu */

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Menu Item */

.sidebar li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

/* Links */

.sidebar a {
    display: block;
    padding: 18px 25px;
    color: #cbd5e1;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: all .25s ease;
}

/* Hover */

.sidebar a:hover {
    background: #334155;
    color: white;
    padding-left: 35px;
}

/* Logout */

.sidebar li:last-child {
    margin-top: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
}

/*container*/
.content {
    flex: 1;
    padding: 20px;
}

/* Dashboard Title */
.dashboard-title {
    margin-bottom: 25px;
    color: #1f2937;
}

/* Card Container */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

/* Individual Card */
.card {

    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    transition: 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.12);
}

/* Number */
.card h2 {
    font-size: 2rem;
    margin: 0;

}

/* Label */
.card p {
    margin-top: 10px;
    color: #000000;
    font-size: 15px;
}


.reports-container{
    padding:30px;
}

.reports-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.reports-header h1{
    color:#1f2937;
}

.add-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
}

.add-btn:hover{
    background:#1d4ed8;
}

.filters{
    display:flex;
    gap:15px;
    margin-bottom:20px;
}

.filters input,
.filters select{
    padding:10px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:14px;
}

.filters input{
    width:300px;
}

.reports-table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.reports-table th{
    background:#2563eb;
    color:white;
    padding:15px;
    text-align:left;
}

.reports-table td{
    padding:15px;
    border-bottom:1px solid #eee;
}

.reports-table tr:hover{
    background:#f8fafc;
}

.status{
    padding:5px 12px;
    border-radius:20px;
    font-size:13px;
    font-weight:600;
}

.pending{
    background:#fef3c7;
    color:#92400e;
}

.resolved{
    background:#dcfce7;
    color:#166534;
}

.view-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:8px 15px;
    border-radius:6px;
    cursor:pointer;
    margin-right: 10px;
}

.view-btn:hover{
    background:#1d4ed8;
}


.status{
    padding:6px 12px;
    border-radius:20px;
    font-weight:bold;
    color:white;
}

.status.pending{
    background:#f39c12;
}

.status.verified{
    background:#3498db;
}

.status.in-progress{
    background:#9b59b6;
}

.status.resolved{
    background:#2ecc71;
}

.status.rejected{
    background:#e74c3c;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.login-page{
    display:flex;
    min-height:100vh;
    padding:0 8%;
    align-items:center;
    justify-content:space-between;
    background:#f8fafc;
}

.login-left{
    width:45%;
}

.login-left h1{
    font-size:3rem;
    color:#1e293b;
    margin-bottom:20px;
    line-height:1.2;
}

.login-left p{
    font-size:1.1rem;
    color:#64748b;
    line-height:1.8;
}

.login-right{
    width:350px;
}

.login-right form{
    display:flex;
    flex-direction:column;
}

.login-right h2{
    margin-bottom:30px;
    color:#1e293b;
}

.login-right input{
    padding:15px 18px;
    margin-bottom:18px;
    border:none;
    border-bottom:2px solid #d1d5db;
    background:transparent;
    font-size:16px;
    outline:none;
    transition:.3s;
}

.login-right input:focus{
    border-color:#2563eb;
}

.login-right button{
    margin-top:10px;
    padding:15px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

.login-right button:hover{
    background:#1d4ed8;
}


/* ========================= */
/* Modal */
/* ========================= */

.modal-overlay{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.45);

    display:flex;
    justify-content:center;
    align-items:center;

    z-index:1000;
}

.modal{
    width:650px;
    background:white;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 10px 40px rgba(0,0,0,.25);
}

.modal-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 25px;

    border-bottom:1px solid #eee;
}

.modal-body{
    padding:25px;
}

.modal-body p{
    margin-bottom:15px;
    color:#374151;
    line-height:1.7;
}

.close-btn{
    background:none;
    border:none;
    font-size:22px;
    cursor:pointer;
}

.close-btn:hover{
    color:red;
}

/*heatmap module*/
.heatmap-page{
    width:103.25%;
    height:calc(104.66vh - 40px);
    margin: -20px;
}

.leaflet-map{
    width:100%;
    height:100%;
}

/*modal for adding new report*/
.form-group{
    display:flex;
    flex-direction:column;
    margin-bottom:18px;
}

.form-group label{
    margin-bottom:8px;
    font-weight:600;
    color:#374151;
}

.form-group input,
.form-group textarea,
.form-group select{
    padding:10px 14px;
    border:1px solid #d1d5db;
    border-radius:8px;
    font-size:14px;
}

.form-group textarea{
    resize:none;
}

.form-row{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.modal-footer{
    display:flex;
    justify-content:flex-end;
    gap:10px;
    margin-top:20px;
}

.cancel-btn{
    background:#e5e7eb;
    color:#374151;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}

.save-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}

.save-btn:hover{
    background:#1d4ed8;
}

.modal{
    background:white;
    width:750px;
    max-width:95%;
    max-height:90vh;

    border-radius:12px;
    overflow-y:auto;

    box-shadow:0 10px 30px rgba(0,0,0,.25);
}

.report-map{
    width:205%;
    height:380px;
    border-radius:10px;
}

.pagination{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
    margin-top:25px;
}

.pagination button{
    padding:8px 18px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}

.pagination button:disabled{
    background:#cbd5e1;
    cursor:not-allowed;
}